ma_pop_nounis.csv
tdm23_alt_FINAL.db
tdm23_base.db
ma_pop_nounis.csv
tdm23_alt_FINAL.db
tdm23_base.db
.RDataTmp
.Rproj.user
gsd-ses5394-team1.Rproj
.Rhistory
.DS_Store
T1_final_files
ma_emp_nounis.csv
model/